<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waypoint Visualization</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <style>
        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-polylinedecorator@1.7.0/dist/leaflet.polylineDecorator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.polylinedecorator@0.4.1/leaflet.polylinedecorator.min.js"></script>
    <script>
        // Initialize the Leaflet map
        const map = L.map('map').setView([0, 0], 2);

        // Add OpenStreetMap tile layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Add waypoints to the map
        {{ waypoints|safe }}.forEach(waypoint => {
            L.circleMarker([waypoint.latitude, waypoint.longitude], {
                radius: 1,
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5
            }).addTo(map);
        });



       // external gray icon
       var grayIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });


        // Highlight source
        L.marker([{{source.0}}, {{source.1}}], {
            title: "source",
            clickable: true,
            icon: grayIcon
        }).bindPopup('Source').openPopup().addTo(map);


        // Highlight destination
        L.marker([{{destination.0}}, {{destination.1}}], {
            title: "destination",
            clickable: true
        }).bindPopup('destination').openPopup().addTo(map);


        // Highlight the optimal path
        {{ path|safe }}.forEach(waypoint => {
            L.circleMarker([waypoint.latitude, waypoint.longitude], {
                radius: 1,
                color: 'green',
                fillColor: 'green',
                fillOpacity: 0.5
            }).addTo(map);

        });




        



        
    </script>
</body>
</html>
